.rolelogin {
    background: none repeat scroll 0 0 #AAAAAA;
    display: inline-block !important;
    margin: 0 !important;
}
.rolelogin:hover ul.rolelogin-ul {
	display: block;
}
.rolelogin > a {
	
}
.rolelogin-ul {
	display: none;
	position: absolute;
	background: #aaa;
	margin: 38px 0 0 !important;
	z-index: 9999;
	padding: 10px;
border-top: 1px solid;
width: 115px;
}
.rolelogin-ul li {
    border-bottom: 1px solid;
    display: block !important;
    margin: 0 !important;
    width: 100%;
}

.role-switch-popup {
	display: block;
}

.role-switch-popup span {
    display: block;
    font-size: 20px;
    text-decoration: underline;
}

.role-switch-popup a {
    display: inline-block;
    margin: 0 10px;
    text-transform: capitalize;
}

.role-switch-hea {}
.role-switch-popup .role-switch-foo {
    display: block;
    font-size: 15px;	
}
.role-switch-alert {
	color: #bc00;
}
.active-role {
	color: #381301 !important;	
}
.role-switch {
    display: block !important;
    padding: 3% 5% !important;
    text-transform: capitalize;
    width: 90%;
}
